<!--
<p>
  cabecera works!
</p>
-->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	Menú
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Mi Cuenta</a>
    <a class="dropdown-item" href="#">Reportes</a>
    <a class="dropdown-item" href="#">Mapa de calor</a>
    <a class="dropdown-item" href="#">Iniciar Sesión</a>
    <a class="dropdown-item" href="#">Registro</a>    
  </div>
</div>