<!--
<p>
  cabecera works!
</p>
-->
<nav class="navbar navbar-expand navbar-dark bg-dark">
	<ul class="dropdown-menu" role="menu">
		<li role="presentation"><a role="menuitem" href="#">Mi Cuenta</a></li>
		<li role="presentation"><a role="menuitem" href="#">Reportes</a></li>
		<li role="presentation"><a role="menuitem" href="#">Mapa de calor</a></li>
		<li role="presentation"><a role="menuitem" href="#">Iniciar Sesión</a></li>
		<li role="presentation"><a role="menuitem" href="#">Registro</a></li>		
	</ul>
</nav>